REACT_APP_YOUTUBE_URL=https://www.youtube.com/embed/your_stream_id
REACT_APP_RUNNING_TEXT=Tulisan berjalan di sini
REACT_APP_UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_ACCESS_KEY
REACT_APP_MOSQUE_NAME=Nama Masjid Anda
REACT_APP_IQOMAH_TIME=
# Google Drive API Configuration
REACT_APP_GOOGLE_DRIVE_API_KEY=
REACT_APP_GOOGLE_DRIVE_FOLDER_ID=
