VITE_YOUTUBE_URL=https://www.youtube.com/embed/your_stream_id
VITE_RUNNING_TEXT=Tulisan berjalan di sini
VITE_ACCESS_KEY_UNSPLASH=YOUR_UNSPLASH_ACCESS_KEY
VITE_MOSQUE_NAME=Nama Masjid Anda
VITE_IQOMAH_TIME=
VITE_RTSP_STREAM_URL=/stream
# Google Drive API Configuration
VITE_GOOGLE_DRIVE_API_KEY=
VITE_GOOGLE_DRIVE_FOLDER_ID=
VITE_STREAM_URL=https://www.youtube.com/embed/your_stream_id
